@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
  font-family: PokeFontHollow;
  src: url("Resources/Pokemon Hollow.ttf");
}

@font-face {
  font-family: PokeFontSolid;
  src: url("Resources/Pokemon Solid.ttf");
}

h1 {
  font-family: PokeFontHollow, cursive;
  letter-spacing: 2px;
}