@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
    font-family: PokeFontHollow;
    src: url("Resources/Pokemon Hollow.ttf");
}

@font-face {
    font-family: PokeFontSolid;
    src: url("Resources/Pokemon Solid.ttf");
}

h1 {
    font-family: PokeFontHollow, cursive;
    font-size: 8em;
    letter-spacing: 2px;
}

h2, h3, h4 {
    font-family: "Press Start 2P", cursive;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    color: #a9a9a9;
}

.col {
    font-family: "Press Start 2P", cursive;
    height: 50px;
    padding: 0.8em 0;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px black;
}

.stat {
    border: none;
    margin-bottom: 10px;
    box-shadow: none;
}

.search-form {
    width: 100%;
}

.home-title {
    margin-top: 10%;
    margin-bottom: 50px;
    color: #e0c23e;
}

.home-button-group {
    margin-bottom: 50px;
    cursor: pointer;
}

.navbar {
    padding: 15px;
    background-color: #770000;
}

.active {
    animation: fade-to-black 0.5s forwards;
}

.stats-chart {
    border: 1px solid black;
    justify-self: end;
    width: 25%;
    box-shadow: 2px 2px black;
}


@media (max-width: 800px) {

    h1 {
        font-size: 3.5em;
    }

}

@media (max-width: 300px) {

    h1 {
        font-size: 2.5em;
    }

}

@keyframes fade-to-black {
    from {
        background-color: white;
        color: black;
    }

    to {
        background-color: black;
        color: white;
    }
}